@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(57, 57, 57); */
  background: radial-gradient(circle at center center, rgb(80, 86, 92), rgb(34, 37, 40));
  margin: 0;
  height: 100vh;
  user-select: none;
}

main {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

* {
  margin: 0px;
  padding: 0px;
}

section {
  position: relative;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding-block: 8px;
  padding-inline: 8px;
  box-shadow: inset 0px 0px 32px 8px rgba(0, 0, 0, 0.75);
}

#pescar {
  justify-self: end;
}

#cartas {
  pointer-events: none;
}

#mao,
#ad {
  background: linear-gradient(0deg, rgb(127, 60, 21), rgb(184, 98, 48));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
  overflow-x: auto;
  min-height: 144px;
  position: relative;
}

/* #mao::before{
  content: 'Tiago';
  position: absolute;
  top: 0;
  width: max-content;
  transform: translateX(100%);
  z-index: 9999999;
} */

#ad {
  pointer-events: none;
  background: linear-gradient(90deg, rgb(127, 60, 21), rgb(184, 98, 48));
}

.OpponentIsPlaying {
  pointer-events: none;
  opacity: 0.5;
  filter: brightness(80%) contrast(90%);
  transition: 0.5s ease-out;
}

.underline,
.CardItem:is(.underline)::before,
.CardItem:is(.underline)::after {
  text-decoration: underline;
  line-height: 0.8em;
}

.CardItem:not(.Opponent)::before,
.CardItem:not(.Opponent)::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  -webkit-text-stroke: 1px rgb(44, 44, 44);
  -webkit-text-fill-color: white;
  z-index: 5;
}

.CardItem::before {
  top: 0.2em;
  left: 0.5em;
}

.CardItem::after {
  bottom: 0.2em;
  right: 0.5em;
  transform: rotate(180deg);
}

.CardItem {
  width: 80px;
  flex: 0 0 80px;
  border-radius: 6px;
  margin: 8px;
  height: 128px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 64px;

  -webkit-text-stroke: 3px rgb(44, 44, 44);
  -webkit-text-fill-color: white;

  image-rendering: pixelated;
  background: url(img/back.png);

  position: relative;
  opacity: 0;
  animation: entry 1s cubic-bezier(0, 1.2, 1, 1.25) forwards;

  transition: all 0.2s cubic-bezier(0, 1.2, 1, 1.2), box-shadow 0s;
}

.TipoPescar{
  font-size: 48px;

  -webkit-text-stroke: 3px rgb(44, 44, 44);
  -webkit-text-fill-color: white;
}

.CantPlayThisCard {
  filter: brightness(50%) saturate(50%) !important;
  opacity: 0.25 !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  pointer-events: none;
}

@keyframes entry {
  0% {
    opacity: 0;
    scale: 1.5 1.3;
  }
  100% {
    scale: 1 1;
    opacity: 1;
  }
}

/*.Opponent {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px transparent;
  * background-color: rgb(226, 120, 218) !important; *
  background: url(img/back\ Adver.png),
    radial-gradient(circle at center center, rgb(226, 120, 218), rgb(180, 75, 171));
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}*/

.CardItem:not(.Opponent, .CantPlayThisCard):hover {
  filter: brightness(90%) grayscale(5%);
  /* box-shadow: 0px 0px 0px 1px white; */
  z-index: 2;
  backdrop-filter: blur(16px);
}

.CardItem:not(.Opponent, .CantPlayThisCard):active {
  filter: brightness(120%) saturate(100%);
  box-shadow: 0px 0px 0px 2px white;
}

.amarelo {
  background-color: rgb(240, 240, 16);
}

.verde {
  background-color: rgb(25, 203, 25);
}

.vermelho {
  background-color: rgb(241, 17, 17);
}

.azul {
  background-color: rgb(20, 20, 217);
}

button {
  margin: 4px 4px;
  padding: 4px 8px;
  background-color: rgb(26, 92, 145);
  border: solid 2px rgb(91, 169, 232);
  box-shadow: 0 4px 0px rgb(46, 107, 157);
  border-radius: 16px;
  color: rgb(224, 224, 224);
  cursor: pointer;
  font-size: 32px;
  font-weight: 600;
}

button:hover {
  filter: brightness(110%);
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 0px rgb(46, 107, 157);
  transform: translateY(2px);
}

button:active {
  filter: brightness(80%);
  transform: translateY(4px);
  box-shadow: 0 0px 0px rgb(46, 107, 157);
}

.TemQuePescar {
  outline: white solid 2px !important;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.4) !important;
  z-index: 100;
}

audio {
  display: none;
}